


.left{
    background-color: $color-grey;
    color: white;
    width: 40%;
    padding-left: .2rem;
    padding-right: .2rem;
    font-size: $size-text;
    .photo{
        width: 9.5rem;
        height: 9.5rem;
        margin: 1.2rem auto;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
        //box-shadow: 4px 4px 6px 10px darken($color-grey, 35);

        img{
            width: 100%;
            height: auto;
        }
    }
    li{
        margin: .4rem 8px;
    }
    .contact{
        
        ul{
            list-style: none;
            li{
                
                span{
                    margin-left: 1rem;
                }
            }
        }
    }
    

    .language{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: .4rem;
            padding: 1rem;
            gap:12px;
            list-style: none;

            img{
                width: 32px;
                height: auto;
            }
        }
    }
    .langue{
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            progress{
                background-color: $color-grey-lt;
                color: white;
            }
        }
    }

    .competences, .soft{
        li{
            list-style-position: inside;
        }
    
    }
}



.title-left{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    h3{
        flex-shrink: 0;
    }
    div{
        overflow: hidden;
        hr{
            color: white;
            height: 1px;
            width: 500px;
            position: relative;
            top: 50%;
        }
    }
    
}

// encadrement menus
.box-left{
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
}

