




.left{
    background-color: $color-grey;
    color: white;
    width: 40%;
    padding: 1rem;
    font-size: $size-4;
    .photo{
        width: 8rem;
        height: 8rem;
        margin: 2rem auto;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
        }
    }
    .contact{
        
        ul{
            list-style: none;
            li{
                margin: 1rem 0;
                span{
                    margin-left: 1rem;
                }
            }
        }
    }
    
    .reseau{
        margin-top: 2rem;
        ul{
            list-style: none;
            li{
                margin: 1rem 0;
                span{
                    margin-left: 1rem;
                }
            }
        }
    }
    .language{
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0.4rem;

            i{
                margin-right: 2rem;
            }
        }
    }
    .langue{
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            progress{
                background-color: $color-grey-lt;
                color: white;
            }
        }
    }

    .competences, .soft{
        li{
            list-style-position: inside;
        }
    
    }
}



.title-left{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    h3{
        flex-shrink: 0;
    }
    div{
        overflow: hidden;
        hr{
            color: white;
            height: 1px;
            width: 500px;
            position: relative;
            top: 50%;
        }
    }
    
}

// encadrement menus
.box-left{
    border: 1px solid white;
    padding: 0.6rem;
}

