



.right{
    background-color: white;
    width: 60%;
    padding-left: 1rem;
    font-size: $size-text;
    color: darken($color-grey,25);
    li{
        list-style-position: inside;
        line-height: 1.6rem;
    }

    .nom{
        font-family: $font-title;
        padding-bottom: 1,6rem;
        h2{
            color: $color-blue;
            font-size: $size-md;
        }
        h1{
            color: $color-grey-lt;
            font-size: $size-md;
            margin-left: 10px;
        }
        h3{
            margin-top: .8rem;
            background: url('./images/back-title.jpg') no-repeat center;
            background-size: cover;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $size-big;
            font-family: 'Rowdies', cursive;
            span{
                position: relative;
                display: inline-block;
                top: 3px;
                margin: 0 2px;
                transform: rotate(-10deg);
            }
        }
        &-title{
            display: flex;
            justify-content: space-between;
            .qr{
                width: 68px;
                height: 68px;
                margin: 12px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

}


.insideUl{
    margin-left: 4px;
}


.box-right{
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 0.6rem;
    display: inline-block;
}