



.right{
    background-color: white;
    width: 60%;
    padding: 2rem 1.5rem;
    font-size: $size-4;
    color: darken($color-grey,25);
    li{
        list-style-position: inside;
        line-height: 2rem;
    }

    .nom{
        font-family: $font-title;
        padding-bottom: 1,6rem;
        h2{
            color: $color-blue;
            font-size: $size-2;
        }
        h1{
            color: $color-grey-lt;
            font-size: $size-1;
        }
        h3{
            margin-top: 1.8rem;
            background: linear-gradient(to right,$color-blue-lt,#41b883);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $size-3;
            span{
                position: relative;
                display: inline-block;
                top: 3px;
                margin: 0 2px;
                transform: rotate(-10deg);
            }
        }
    }

}


.insideUl{
    margin-left: 4px;
}


.box-right{
    border: 1px solid $color-grey;
    padding: 0.6rem;
    display: inline-block;
}