



$color-grey: #919191;
$color-grey-lt: #b6b6b6;
$color-blue: #001260;
$color-blue-lt: lighten(#001260, 20);

$size-1:2.2rem;
$size-2: 2rem;
$size-3: 1.8rem;
$size-4: 1rem;

$font-title: 'Antonio', sans-serif;
$font-text: 'Montserrat', sans-serif;

// espace entre blocs
.m-block{
    margin-top: 2rem;
}

strong{
    color: $color-blue-lt;
}