


//background left
$color-grey: #919191;

$color-grey-lt: #b6b6b6;
$color-blue: #001260;
$color-blue-lt: lighten(#001260, 20);

$size-1:2.2rem;
$size-2: 2rem;
$size-3: 1.8rem;
$size-4: 1rem;

$font-title: 'Antonio', sans-serif;
$font-text: 'Montserrat', sans-serif;

// espace entre blocs
.m-block{
    margin-top: 2rem;
}
a{
    color: inherit;
    text-decoration: none;
}

strong{
    color: $color-blue-lt;
    margin-right: 1rem;
}
em{
    color: $color-blue-lt;
    font-weight: bold;
}

// couleurs
.fa-phone-alt{
    color: lighten(blue,20);
}
.fa-at{
    color: white;
}
.fa-map-marker-alt{
    color: lighten(red,20);
}


.fa-github{
    color: black;
}
.fa-linkedin-in{
    color: #0e76a8;
}
.fa-blog{
    color: purple;
}


.fa-html5{
    color: #f06529;
}
.fa-css3-alt{
    color: #2965f1 ;
}
.fa-js{
    color: #f0db4f;
}
.fa-python{
    color: #ffd43b;
}
.fa-node-js{
    color: #3c873a;
}
.fa-vuejs{
    color: #41b883;
}