.m-block {
  margin-top: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  color: #0025c6;
  margin-right: 1rem;
}

em {
  color: #0025c6;
  font-weight: bold;
}

.fa-phone-alt {
  color: #6666ff;
}

.fa-at {
  color: white;
}

.fa-map-marker-alt {
  color: #ff6666;
}

.fa-github {
  color: black;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-blog {
  color: purple;
}

.fa-html5 {
  color: #f06529;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-js {
  color: #f0db4f;
}

.fa-python {
  color: #ffd43b;
}

.fa-node-js {
  color: #3c873a;
}

.fa-vuejs {
  color: #41b883;
}

.left {
  background-color: #9e9e9e;
  color: white;
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
}

.left .photo {
  width: 10rem;
  height: 10rem;
  margin: 0.8rem auto;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.left .photo img {
  width: 100%;
  height: auto;
}

.left .contact ul {
  list-style: none;
}

.left .contact ul li {
  margin: 1rem 0;
}

.left .contact ul li span {
  margin-left: 1rem;
}

.left .reseau {
  margin-top: 0.8rem;
}

.left .reseau ul {
  list-style: none;
}

.left .reseau ul li {
  margin: 0.6rem 0;
}

.left .reseau ul li span {
  margin-left: 1rem;
}

.left .language li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2rem;
}

.left .language li i {
  margin-right: 2rem;
}

.left .langue li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left .langue li progress {
  background-color: #b6b6b6;
  color: white;
}

.left .competences li, .left .soft li {
  list-style-position: inside;
}

.title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.4rem;
}

.title-left h3 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.title-left div {
  overflow: hidden;
}

.title-left div hr {
  color: white;
  height: 1px;
  width: 500px;
  position: relative;
  top: 50%;
}

.box-left {
  border: 1px solid white;
  padding: 0.6rem;
}

.right {
  background-color: white;
  width: 60%;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  color: #9e9e9e;
}

.right li {
  list-style-position: inside;
  line-height: 2rem;
}

.right .nom {
  font-family: "Antonio", sans-serif;
  padding-bottom: 1,6rem;
}

.right .nom h2 {
  color: #001260;
  font-size: 2rem;
}

.right .nom h1 {
  color: #b6b6b6;
  font-size: 2.2rem;
}

.right .nom h3 {
  margin-top: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#0025c6), to(#41b883));
  background: linear-gradient(to right, #0025c6, #41b883);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

.box-right {
  border: 1px solid #9e9e9e;
  padding: 0.6rem;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 100%;
  width: 1050px;
  height: 1480px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=main.css.map */